body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: rgb(211, 207, 207);
}

#wrapper {
  box-sizing: border-box;
  width: 1000px;
  height: 500px;
  margin: 50px auto 50px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
}

.row {
  display: flex;
}

.col {
  width: 33.33%;
  padding: 35px;
  height: 460px;
  position: relative;
  box-sizing: border-box;
}

.button {
  position: absolute;
  bottom: 35px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 200px;
  border: none;
  display: block;
}

#sedan-button {
  color: hsl(31, 77%, 52%);
}

#suv-button {
  color: hsl(184, 100%, 22%);
}

#luxury-button {
  color: hsl(184, 100%, 22%);
}

#sedan {
  background-color: hsl(31, 77%, 52%);
}

#suv {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
  background-color: hsl(179, 100%, 13%);
}

.content > p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6em;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.content:first-child {
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.content:last-child {
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  #wrapper {
    height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 50px 0px;
  }

  .row {
    flex-direction: column;
  }

  .content {
    width: 100%;
    height: 375px;
  }

  .content:first-child {
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .content:last-child {
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}

